@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Sunday School</h1>
    <hr />
    <div style="        background-image: url('../Images/background1.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
     
        height: 600px;
    "></div>
</div>
