@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <h2 class=" text-center text-success" > Registration is Succefully done!</h2>

    <h4> Your Email :  @Model.Email</h4>
}
